
@{
    ViewBag.Title = "Newssssss";
}
@using (Html.BeginForm("Newssssss", "Newssss", FormMethod.Post))
{
    <from action="" method="put" role="form">
        <div class="New">
            New
            <input id="Text3" type="text" name="Head" />
            <input id="12" type="file" name="picture" />
            <input id="Text2" type="text" name="=title" />
            <input id="Button2" type="submit" value="button" onclick="location.href='@Url.Action("Submit", "Newssss")'"/>
        </div>
    </from>
}
        


